*{
    margin: 0;
    padding: 0;
}

.col-md-6 span{
    z-index: 10;
    position: relative;
    bottom: 30px;
    left: 274px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.696);
    color: white;
    padding: 2px;
    margin: 2px;
}

.card-body span{
    margin: 0 0 0 10px;
}